Crop Recommendation Node-RED flows.json
[
    {
        "id": "dca51f4a8d1e3e83",
        "type": "tab",
        "label": "CROP_RECOMMENDATION",
        "disabled": false,
        "info": ""
    },
    {
        "id": "65a5956dbed4e2bc",
        "type": "ui_form",
        "z": "dca51f4a8d1e3e83",
        "name": "",
        "label": "",
        "group": "7ab3785e8c401e99",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "N",
                "value": "a",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "P",
                "value": "b",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "K",
                "value": "c",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Temperature",
                "value": "d",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Humidity",
                "value": "e",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "pH",
                "value": "f",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Rainfall",
                "value": "g",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "a": "",
            "b": "",
            "c": "",
            "d": "",
            "e": "",
            "f": "",
            "g": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "e1c84f9ecc92ae2e"
            ]
        ]
    },
    {
        "id": "47086f08edfaf9b7",
        "type": "debug",
        "z": "dca51f4a8d1e3e83",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "e1c84f9ecc92ae2e",
        "type": "function",
        "z": "dca51f4a8d1e3e83",
        "name": "global variable for crop recommendation",
        "func": "global.set(\"N\",msg.payload.a)\nglobal.set(\"P\",msg.payload.b)\nglobal.set(\"K\",msg.payload.c)\nglobal.set(\"Temperature\",msg.payload.d)\nglobal.set(\"Humidity\",msg.payload.e)\nglobal.set(\"pH\",msg.payload.f)\nglobal.set(\"Rainfall\",msg.payload.g)\nvar apikey = \"eNiN28TOr9CnOXR9YKdsU0DMzMBp7SBoKIDOxMykVxDW\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "47086f08edfaf9b7",
                "19da6757fe05563f"
            ]
        ]
    },
    {
        "id": "ba65efb905fffcc7",
        "type": "debug",
        "z": "dca51f4a8d1e3e83",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 80,
        "wires": []
    },
    {
        "id": "8b5f6a5e63a2b6aa",
        "type": "function",
        "z": "dca51f4a8d1e3e83",
        "name": "Inputconverter",
        "func": "var a= global.get(\"N\")\nvar b = global.get(\"P\")\nvar c = global.get(\"K\")\nvar d = global.get(\"Temperature\")\nvar e= global.get(\"Humidity\")\nvar f= global.get(\"pH\")\nvar g= global.get(\"Rainfall\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"N\", \"P\", \"K\",\"Temperature\", \"Humidity\",  \"pH\",  \"Rainfall\"]],\"values\": [[a,b,c,d,e,f,g]]}]}\nreturn msg;\n ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 180,
        "wires": [
            [
                "dacabd1057057bd7"
            ]
        ]
    },
    {
        "id": "dacabd1057057bd7",
        "type": "http request",
        "z": "dca51f4a8d1e3e83",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://58b6adba-0cd4-44d8-9487-2c094da7446a.eastus.azurecontainer.io/score",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1310,
        "y": 180,
        "wires": [
            [
                "02da9a8dcfcddbf8",
                "1ef3a6d98f9c76ef"
            ]
        ]
    },
    {
        "id": "02da9a8dcfcddbf8",
        "type": "debug",
        "z": "dca51f4a8d1e3e83",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 180,
        "wires": []
    },
    {
        "id": "1ef3a6d98f9c76ef",
        "type": "function",
        "z": "dca51f4a8d1e3e83",
        "name": "Outputter",
        "func": "msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 100,
        "wires": [
            [
                "78cbe07c5a7603b6",
                "7972a59aea50ca89"
            ]
        ]
    },
    {
        "id": "78cbe07c5a7603b6",
        "type": "debug",
        "z": "dca51f4a8d1e3e83",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 40,
        "wires": []
    },
    {
        "id": "7972a59aea50ca89",
        "type": "ui_text",
        "z": "dca51f4a8d1e3e83",
        "group": "7ab3785e8c401e99",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "The Recommended Crop is",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1830,
        "y": 120,
        "wires": []
    },
    {
        "id": "19da6757fe05563f",
        "type": "http request",
        "z": "dca51f4a8d1e3e83",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 850,
        "y": 180,
        "wires": [
            [
                "ba65efb905fffcc7",
                "8b5f6a5e63a2b6aa"
            ]
        ]
    },
    {
        "id": "7ab3785e8c401e99",
        "type": "ui_group",
        "name": "Please Enter The Following Data",
        "tab": "45787c04fb3c1575",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "45787c04fb3c1575",
        "type": "ui_tab",
        "name": "Crop Recommendation",
        "icon": "<i class=\"fa fa-user-circle-o\" aria-hidden=\"true\"></i>",
        "disabled": false,
        "hidden": false
    }
]